* {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  background-color: #333;
}

input.content {
  padding: 5px;
  width: 40%;
  display: block;
  margin: 0 auto 15px auto;
}

input.deleteDone {
  /*padding: 15px 20px;*/
  /*margin: 0 auto;
    display: block;*/
}

.TodosApp {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  height: 100vh;
}

.TodosList {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  input.content,
  .TodosList,
  .TodosToolbar {
    width: 95%;
  }
}
