* {
  font-size: 16px;
}

body {
  background-color: #333;
}

input.content {
  padding: 5px;
  width: 40%;
  display: block;
  margin: 0 auto 15px auto;
}

ul.TodosToolbar {
  display: block;
  margin: 0 auto;
}

input.deleteDone {
  /*padding: 15px 20px;*/
  /*margin: 0 auto;
    display: block;*/
}

.TodosApp {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  input.content,
  .TodosList {
    width: 95%;
  }
}
